## Ignore Atmel Studio temporary files and build results
# https://www.microchip.com/mplab/avr-support/atmel-studio-7

# Atmel Studio is powered by an older version of Visual Studio,
# so most of the project and solution files are the same as VS files,
# only prefixed by an `at`.

#Build Directories
/thermostat_hygrometer/[Dd]ebug
/thermostat_hygrometer/[Rr]elease

#Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec

#User Specific Files
*/.atsuo
/thermostat_hygrometer/*.atsln
*.cproj
*.xml

## KiCad
# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
/hardware/termostat_hygrometro/*-backups
*.kicad_prl
*.sch-bak
*~
_autosave_*
*.tmp
*-save.pro
*-save.kicad_pcb
/hardware/termostat_hygrometro/fp-info-cache
*.zip

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# PDF
*.pdf

# VS Code
/.vs